# Xcode
##
.DS_Store
*/xcuserdata/*
!default.xcworkspace
*.xcuserstate
project.xcworkspace
xcuserdata
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcshareddata/
*xccheckout
*.moved-aside
*.xcuserstate

# CocoaPods
##
Pods/

